.search-bar {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.search-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #f5c518;
  border-radius: 4px;
  outline: none;
}

.search-button {
  background-color: #f5c518;
  color: black;
  border: none;
  padding: 10px 15px;
  margin-left: 5px;
  border-radius: 4px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #e5b50f;
}