.menu-hamburguesa {
  position: relative;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 18px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.hamburger span {
  height: 3px;
  background-color: #f5c518;
  border-radius: 2px;
  transition: 0.3s;
}

.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.menu-dropdown {
  position: absolute;
  top: 35px;
  left: 0;
  background-color: #1c1c1c;
  border: 1px solid #f5c518;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  min-width: 150px;
  padding: 10px;
  z-index: 100;
}

.menu-dropdown a {
  color: white;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
}

.menu-dropdown a:hover {
  background-color: #333;
}

.menu-hamburguesa {
  position: relative;
}

.hamburger-btn {
  background: none;
  border: none;
  cursor: pointer;
}
