.app-container {
  background-color: #121212;
  min-height: 100vh;
  padding: 20px;
  width: 100vw;
  box-sizing: border-box;
  color: white;
}

/* Título de la app (opcional) */
.title {
  color: #f5c518;
  text-align: center;
}

/* Barra de búsqueda */
.search-bar {
  text-align: center;
  margin-bottom: 20px;
}

.search-input {
  padding: 10px;
  width: 300px;
  border-radius: 4px;
  border: none;
  outline: none;
}

.search-button {
  margin-left: 10px;
  padding: 10px 15px;
  background-color: #f5c518;
  color: black;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.section-title {
  font-size: 1.5rem;
  color: #f5c518;
  margin-bottom: 20px;
  font-size: 2rem;
  margin-left: 9vw; /* Ajusta según el padding de tu grid */
}